<div class="flex card" *ngIf="comment">
  <div class="flex card-block">
    <p class="flex card-text">
      {{ comment.body }}
    </p>
  </div>
  <div class="flex card-footer">
    <a
      class="flex comment-author"
      [routerLink]="['/profile', comment.author.username]"
    >
      <img [src]="comment.author.image" class="flex comment-author-img" />
    </a>
    &nbsp;
    <a
      class="flex comment-author"
      [routerLink]="['/profile', comment.author.username]"
    >
      {{ comment.author.username }}
    </a>
    <span class="flex date-posted">
      {{ comment.createdAt | date : "longDate" }}
    </span>
    <span class="flex mod-options" *ngIf="canModify$ | async">
      <i class="flex ion-trash-a" (click)="delete.emit(true)"></i>
    </span>
  </div>
</div>
