<div class="flex profile-page" *ngIf="profile">
  <div class="flex user-info">
    <div class="flex container">
      <div class="flex row">
        <div class="flex col-xs-12 col-md-10 offset-md-1">
          <img [src]="profile.image" class="flex user-img" />
          <h4>{{ profile.username }}</h4>
          <p>{{ profile.bio }}</p>
          <app-follow-button
            *ngIf="!isUser"
            [profile]="profile"
            (toggle)="onToggleFollowing($event)"
          >
          </app-follow-button>
          <a
            [routerLink]="['/settings']"
            *ngIf="isUser"
            class="flex btn btn-sm btn-outline-secondary action-btn"
          >
            <i class="flex ion-gear-a"></i> Edit Profile Settings
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex container">
    <div class="flex row">
      <div class="flex col-xs-12 col-md-10 offset-md-1">
        <div class="flex articles-toggle">
          <ul class="flex nav nav-pills outline-active">
            <li class="flex nav-item">
              <a
                class="flex nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/profile', profile.username]"
              >
                My Posts
              </a>
            </li>
            <li class="flex nav-item">
              <a
                class="flex nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLink]="['/profile', profile.username, 'favorites']"
              >
                Favorited Posts
              </a>
            </li>
          </ul>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
